.project-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container {
    width: 50%;
    max-height: 340px;
}

.hero-container:first-child {
    padding: 25px;
}

@media screen and (max-width: 768px) {
    .project-hero {
        flex-direction: column;
    }

    .hero-container {
        width: 100%;
    }
}
