.nav * {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}

.nav a:hover {
  color: yellow;
}

.container {
  background: linear-gradient(to bottom, #131216, #131216, #020607);
  color: white;
}

.hero h1 {
  font-size: 3rem;
}
.hero h1 b {
  color: yellow;
}

.min-height {
  height: 800px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .hide-if-mobile {
    display: none;
  }
}
