.login{
    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--DarkBlue);
    height: 100vh;
    padding: 0 3rem;
}



@media screen and (max-width: 600px) {
    .login .item:first-child{
        display:none;
    }
}

@media screen and (min-width: 600px) {
   .login .item:last-child{
        text-align: left;
   }

    
}