.bar{
    background-color: var(--SparesPurple);
    min-height: 25px;
    max-height: 35px;
    width: 32%;
    border-radius: 100px;
}

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.lefty {
    text-align: center;
}
@media screen and (min-width: 600px) {
    .lefty {
        text-align: left;
        width: 100%;
    }
    
}

.nonActive {
    display: none;
}