@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
 
@media screen and (min-width: 600px) {
  h1 {
    font-size: 42pt;
  }
  h2 {
    font-size: 24pt;
  }
  h3 {
    font-size: 18pt;
  }
  p {
    font-size: 14pt;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 32pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 14pt;
  }
  p {
    font-size: 12pt;
  }
}

p{
  margin: 0;
}

h1{
  margin: 0;
}

:root {
  --SparesPurple: #9F71B1;
  --SparesLightBlue: #68C9E8;
  --DarkBlue: #131724;
  --SparesOrange: #F08D46;
  --IndicatorBlue: #7863FB;
  --SparesRed: #FF6363;
  --IndicatorRed: #FF0C0C;
  --SparesIndigo: #9F71B1;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Input Item stuff */

.inputItem {
  display: flex;
  flex-direction: column;
}

.inputItem input {
  background-color: white;
  color:#131724;
  border: 0px;
  padding: 15px;
  margin: 15px;
  font-size: 16px;
  font-family: inherit;
  box-shadow: rgba(60, 60, 114, 0.5) 0px 5px 10px 0px;
}

.inputItem label{
  font-weight: 600;

}

img {
  object-fit: cover;
}


