@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');
 
@media screen and (min-width: 600px) {
  h1 {
    font-size: 42pt;
  }
  h2 {
    font-size: 24pt;
  }
  h3 {
    font-size: 18pt;
  }
  p {
    font-size: 14pt;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 32pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 14pt;
  }
  p {
    font-size: 12pt;
  }
}



:root {
  --SparesPurple: #9F71B1;
  --SparesLightBlue: #68C9E8;
  --DarkBlue: #131724;
  --SparesOrange: #F08D46;
  --IndicatorBlue: #7863FB;
  --SparesRed: #FF6363;
  --IndicatorRed: #FF0C0C;
  --SparesIndigo: #9F71B1;
}

#root {
  width: 100%;
  line-height: 1.1;
}



